/* font-family: 'Do Hyeon', sans-serif;
font-family: 'Lobster', cursive; */
body{
    background-image: url("./assets/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    Justify-content: space-between;
    margin-right: 10px;
}
#nav{
background-color: azure;
}
nav p{
    margin-left: 2%;
}

nav ul li{
    list-style: none;
    padding: 20px;
    display: inline;

}
/* ul{
    display: flex;
} */
#about{
text-align: center;
background-color: seashell;
opacity: 0.7;
}
#products{
    display: flex;
}
#products div{
    padding: 10px 20px 10px 20px;
    font-family: 'Lobster', cursive; 
}
#products>div{
    background-color: bisque;
    margin: 0px 10px 0px 10px;
    opacity: 0.7;

}
footer{
    height: 200px;
    background-color: rosybrown;
    margin-top: 50px;
    margin-bottom: 0px;
}